<div class="form-container">
  <h1>Bajador de cambios</h1>
  <form [formGroup]="miFormulario" (ngSubmit)="enviarFormulario()">
    <div class="form-group">
      <label for="textoOriginal">Texto Original:</label>
      <textarea id="textoOriginal" formControlName="textoOriginal" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="textoCambiado">Texto Bajando un Cambio:</label>
      <textarea id="textoCambiado" formControlName="textoCambiado" rows="3"></textarea>
    </div>
    <button type="submit">Bajar un cambio</button>
  </form>
</div>
